<h2>Pengobatan Kanker Serviks</h2>
<div>
    <span style="font-weight:bold">a.	Pengobatan pada lesi prakanker dapat berupa cryosurgery (pembekuan), kauterisasi (pembakaran, juga disebut diatermi),  <br>
    &nbsp;&nbsp;&nbsp;&nbsp;pembedahan laser untuk menghancurkan sel - sel yang abnormal tanpa melukai jaringan yang sehat disekitarnya,dan LEEP (Loop Electrosurgical Excision Procedure) atau konisasi.<br></span>
    <span style="font-weight:bold">b.	Pengobatan kanker</span><br>
    &nbsp;&nbsp;&nbsp;1)	Pembedahan Histerektomi<br>
    &nbsp;&nbsp;&nbsp;2)	Radioterapi/terapi penyinaran<br>
    &nbsp;&nbsp;&nbsp;3)	Kemoterapi<br>
    &nbsp;&nbsp;&nbsp;4)	Terapi biologis
</div>  