<h2>Gejala Kanker Serviks</h2>
<div>a.	Keputihan yang berlebihan/abnormal, dapat disertai bau.<br>
    b.	Adanya perdarahan saat senggama (contact bleeding), kemudian perdarahan berlanjut menjadi perdarahan yang abnormal.<br>
    c.	Perdarahan diluar siklus menstruasi (perdarahan diantara haid maupun setelah menopause).<br>
    d.	Nyeri disekitar serviks, panggul, dan juga punggung ketika sudah terdapat metastasis.<br>
    e.	Rasa berat bagian bawah perut dan kering di vagina.<br>
    f.	Anemia akibat perdarahan berulang
    </div>