<h1 >APA ITU KANKER SERVIKS?</h1>
<div class="container">
  <div class="mainmenu">
    <h2><a routerLink="serviks">1. Apa itu serviks?</a></h2>
    <h2><a routerLink="kanker-serviks">2. Apa itu kanker serviks?</a></h2>
    <h2><a routerLink="faktor-resiko">3. Faktor resiko kejadian kanker serviks</a></h2>
    <h2><a routerLink="gejala">4. Gejala kanker serviks</a></h2>
    <h2><a routerLink="pencegahan">5. Pencegahan kanker serviks</a></h2>
    <h2><a routerLink="pengobatan">6. Pengobatan kanker serviks</a></h2>
  </div>
  <div class="content"><router-outlet></router-outlet></div>
</div>
